*{
      padding:0;
      margin:0;
      font-family: 'Quicksand', sans-serif;
}
.signuppage{
      padding: 10rem 11rem 8rem 8rem;
      background-color: rgb(188, 200, 230);
}
.signuppage img{
      width: 600px;
      height: 450px;
}
#card-signup{
      background: #d1ccff;
      border-radius: 8px;
      box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
      height: 460px;
      width: 355px;
      float: right;
}
#card-content-signup {
      padding: 12px 44px;
}
#card-title-signup {
      letter-spacing: 4px;
      padding-bottom: 23px;
      padding-top: 13px;
      text-align: center;
}
.underline-title-signup {
      background: -webkit-linear-gradient(right, #150b38, #9e91eb);
      height: 2px;
      margin: 1rem auto 0 auto;
      width: 89px;
}
a {
    text-decoration: none;
}
.label-signup{
    font-size: 11pt;
}
.label1-signup h2{
      padding-bottom: 13px;
      font-size: 16px;
}
.button-login-signup{
    padding-left: 6rem;
    color: white;
}
.submit-signup{
    background: -webkit-linear-gradient(right,#2c2c54,#2c2c54);
    border-radius: 21px;
    border: none;
    box-shadow: 0px 1px 8px #2c2c54;
    cursor: pointer;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 50px;
    transition: 0.25px;
    width: 153px;
}
.submit-signup a{
    color: white;
    font-size: 16px;
}
.submit-signup:hover{
    background: -webkit-linear-gradient(right,#96587e,#9d6586);
    border-radius: 21px;
    border: none;
    box-shadow: 0px 1px 8px #4e0c4b;
    cursor: pointer;
    font-family: "Raleway SemiBold",sans-serif;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 50px;
    transition: 0.25px;
    width: 153px;
}
.form-signup{
    display: flex;
    flex-direction: column;
}
.form-signup h2{
    font-size: 18px;
}
.form-content-signup{
    background-color: white;
    border: none;
    outline: none;
    width: 300px;
    height: 35px;
    border-radius: 15px;
    align-items: center;
}
.labels-signup{
    padding: 15px;
}
